doctype
html
	head
		meta(charset="utf-8")
		title 答题页面
		link(href="../css/CSS-reset.css" type="text/css" rel="styleSheet")
		link(href="../css/question/jn-question.css" type="text/css" rel="styleSheet")
		script(src="../js/jquery-1.8.2.min.js")
	body.jn
		include 菜单
		.outer-container-jieguo
			.jieguo-title 中国海洋大学百科知识竞赛
			.jieguo-subtitle.clearfix
				.jieguo-name 用户 : 马晓梅　学号 ：888888
				a.jieguo-challenge-button 再次挑战
			.yaolan-container.jieguo-container
				.jieguo-container-top
					.jieguo-top-title 恭喜您，完成考试！

					table.calculator
						tr.header
							td 客观得分
							td 主观得分
							td 正确
							td 错误
							td 考试用时

						tr
							td.value 90分
							td.value —
							td.number 56题<span class="total-number">(共60题)</span>
							td.number 4题<span class="total-number">(共60题)</span>
							td.number 48分钟<span class="total-number">(60min)</span>

					.jieguo-see-jiexi.clearfix
						div.jieguo-keguan-info 主观题分数，将在考官手动披阅后给出，请随后查看消息通知。
						a(href="#").jieguo-jiexi 查看完整试卷解析>>
				.jieguo-container-body.clearfix
					.jieguo-container-body-left
						.jieguo-left-title 试卷评论
						.yaolan-section-body
							.yaolan-comment-top.clearfix
								.yaolan-comment-title.yaolan-comment-all    总评论
								.yaolan-comment-title    好评<span class="number">(100)</span>
								.yaolan-comment-title    待提高<span class="number">(20)</span>
								a.yaolan-comment-me 我要评论
							.yaolan-comment-body
								.yaolan-comment-line.clearfix
									.yaolan-comment-image
										img(src="../images/zuoti/jn-yaolan_78.jpg")
									.yaolan-comment-conent
										.yaolan-comment-connent-top <span class="mail">119***@qq.com</span><span class="date">2015-09-06</span><span class="pingfen">评分</span><span class="star"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"></span>
										.yaolan-comment-tags
											ul
												li
													a(href="#") 题目好难
												li
													a(href="#") 一个不会
												li
													a(href="#") 棒极了
								.yaolan-comment-line.clearfix
									.yaolan-comment-image
										img(src="../images/zuoti/jn-yaolan_78.jpg")
									.yaolan-comment-conent
										.yaolan-comment-connent-top <span class="mail">119***@qq.com</span><span class="date">2015-09-06</span><span class="pingfen">评分</span><span class="star"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"></span>
										.yaolan-comment-tags
											ul.clearfix
												li
													a(href="#") 题目好难
												li
													a(href="#") 一个不会
												li
													a(href="#") 棒极了
							.yaolan-comment-pages
								ul.clearfix
									li
										a(href="a") 1
									li
										a(href="a") 2
									li
										a(href="a") 3
									li
										a(href="a") 4
									li
										a(href="a") 5
									li
										a(href="a") 6
									li
										a(href="a") 7
									li
										a(href="a") 8
									li
										a(href="a") 9
									li
										a(href="a") 10
									li
										a(href="a") >>
							.yaolan-submit-comment
								.yaolan-submit-comment-title 评论
								.yaolan-submit-block.clearfix
									.yaolan-submit-comment-image
										img(src="../images/zuoti/jn-yaolan_78.jpg")
									.yaolan-submit-comment-block
										.yaolan-submit-comment-tags
											ul.clearfix
												li
													a(href="#") 题目好难
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
												li
													a(href="#") 题目好难
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
												li
													a(href="#") 题目好难
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
												li
													a(href="#") 一个不会
										.yaolan-submit-pingfen.clearfix
											.pingfen 试卷评分
											.rateit#rateit5
											.info#value5 点击星星评分
											a.submit 提 交
					.jieguo-container-body-right
						.jieguo-right-title 相关试卷推荐
						.yaolan-section-right-body.jieguo-section-right-body
							ul.paper-suggest
								li.clearfix
									img(src="#").relate-paper
									.paper-suggest-right
										.paper-name 中国知网百科知识竞赛
										.people-number 60人已答
										.start <img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png">
								li.clearfix
									img(src="#").relate-paper
									.paper-suggest-right
										.paper-name 中国知网百科知识竞赛
										.people-number 60人已答
										.start <img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png">
								li.clearfix
									img(src="#").relate-paper
									.paper-suggest-right
										.paper-name 中国知网百科知识竞赛
										.people-number 60人已答
										.start <img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png"><img src="../images/zuoti/jn-yaolan-10.png">


		script(src="../js/jquery.rateit.min.js")




