.header-container
	.top-header.clearfix
		.logo
		ul.nav.clearfix
			li
				a(href="#") 首页
			li
				a(href="#") 赛事
			li
				a(href="#") 分类
			li
				a(href="#") 题库

		.nav-search.clearfix
			div.input-block
				label(for="search-paper") 搜试卷
				input(type="text" id="search-paper" class="input_item")
			a(href="#") 搜索

		.login
			ul.clearfix
				li
					a(href="#") 登录
				li
					a(href="#") |
				li
					a(href="#") 注册
