doctype
html
	head
		meta(charset="utf-8")
		title 试卷预编辑
		<!--[if IE 6]>
		<script src="../js/iePNG.js" type="text/javascript"></script>
		<script type="text/javascript"> DD_belatedPNG.fix('img');</script>
		<![endif]-->

		link(href="../css/CSS-reset.css" type="text/css" rel="styleSheet")
		link(href="../css/question/jn-question.css" type="text/css" rel="styleSheet")

	body.jn
		div.container-pre
			div.header  创建试卷
			div.banner
				div.banner-inner
					//为了匹配不同长度的试卷名称，试卷名称后面的nbsp空格占位符要保留，产生于图片之间的空格
					div.title.clearfix
						div.title-inner.title-inner-single#text-place
							//textarea
							//div.show-text-double 好多汉字 好多汉字 好多汉字 好多汉字 好多汉字 好多汉字 好多汉字 好多汉字好多汉字 多汉字 好多汉字好多汉字多汉字 好多汉字好多汉字
							div.show-text-single 请输入试卷名称
							img#paper-name(src="../images/question/jn-question-pre-icon.png")


			div.section
				form
					div.group.clearfix
						label 考试类别
						select(name="exam-type")
							option(value="first-class") 一级分类
							option(value="number2") 内容
						select(name="exam-type")
							option(value="second-class") 二级分类
							option(value="number3") 内容
					div.group.clearfix
						label 试卷总分
						select(name="grade")
							option(value="100") 100分
							option(value="90") 90分
					div.group.clearfix
						label 答卷时限
						select(name="time")
							option(value="60") 限时60分钟
							option(value="50") 限时50分钟
					div.group.clearfix

						label<span class="red-star">* </span>试卷形态
						select(name="paper-type")
							option(value="fix") 固定试卷
							option(value="flex") 灵活试卷
					div.information
						p 试卷形态一经创建不可修改。
							a(href="#") 什么是试卷形态？

					div.button.clearfix
						a(href="#").create 创建试卷
						a(href="#").import 直接导入已有试卷

			script(src="../js/jquery-1.8.2.min.js")
			script(src="../js/pre-edit.js")