doctype
html
	head
		meta(charset="utf-8")
		title 试卷预编辑
		<!--[if IE 6]>
		<script src="../js/iePNG.js" type="text/javascript"></script>
		<script type="text/javascript"> DD_belatedPNG.fix('a');</script>
		<![endif]-->
		link(href="../css/CSS-reset.css" type="text/css" rel="styleSheet")
		link(href="../css/question/jn-question.css" type="text/css" rel="styleSheet")
		<!--[if lte IE 7]>
		link(href="../css/question/jn-question-ie.css" type="text/css" rel="styleSheet")
		<![endif]-->

	body.jn.body-grey
		div.exam-nav.clearfix
			ul.left-nav
				li
					a 试卷编辑
				li
					a 试卷设置
				li
					a.selected 竞赛信息填写
				li
					a.last &nbsp

			ul.right-nav
				li
					a.scan 预览
				li
					a.publish 发布
				li
					a.close 关闭

		div.container-exam

			div.sidebar
				ul
					li.cover.jieshao.shouqi
						a 活动介绍
					//试卷目录下面全部的题型与题目
					div.paper-all.no-height
						//第一组题目的标题
						ul
							li
								a(href="#") 比赛介绍
							li
								a(href="#") 奖品设置
							li
								a(href="#") 资质证明
							li
								a(href="#") 协办单位
					li.cover.qingkuang
						a(href="#") 比赛情况
					li.cover.gexingsheji
						a(href="#") 个性模块设计
					div.paper-all.no-height
						//第一组题目的标题
						ul
							li
								a(href="#").blue-hover 自定义板块
					li.cover.jieshaosheji
						a(href="#") 介绍页面设计

			div.sidebar-right
				div.scan 活动页面概览
				ul
					li
						img(src="../images/question/jn-exam-information_06.jpg")
					li
						img(src="../images/question/jn-exam-information_06.jpg")
				div.right-arrow.right-arrow-close

			div.container-paper.container-has-right-cal
				div.container-paper-inner.container-paper-inner1.container-paper-small
					div.paper-assign-block.self-module
						div.module-block-top
							div.title-has-start 个性模块设计
							div.radio-block
								div.radio-line.clearfix.arrow-effect
									div.radio-input-block
										input(type="radio" name="tongji" id="no-mokuai")
									label(for="no-mokuai") 无自定义模块
								div.radio-line.clearfix.arrow-effect
									div.radio-input-block
										input(type="radio" name="tongji" id="has-mokuai")
									label(for="has-mokuai") 启用自定义模块

						div.module-tabs.clearfix
							a.module-tab.selected(href="#tab1")
								span 模块一 <span class="close-tab"></span>

							a.module-tab(href="#tab2")
								span 模块二 <span class="close-tab"></span>
							a.module-tab(href="#tab3")
								span 模块三 <span class="close-tab"></span>
							a.module-tab(href="#tab4")
								span 模块四 <span class="close-tab"></span>
							a.module-tab.add-module 新增模块
						div.module-body#tab1
							div.module-title 模块一标题
							div.input-block
								input(type="text")
							div.module-content-title 请输入模块一内容
							div.module-content
								img(src="../images/question/jn-chuti-zidingyi-03.jpg")
						div.module-body#tab2
							div.module-title 模块二标题
							div.input-block
								input(type="text")
							div.module-content-title 请输入模块二内容
							div.module-content
								img(src="../images/question/jn-chuti-zidingyi-03.jpg")
						div.module-body#tab3
							div.module-title 模块三标题
							div.input-block
								input(type="text")
							div.module-content-title 请输入模块三内容
							div.module-content
								img(src="../images/question/jn-chuti-zidingyi-03.jpg")
						div.module-body#tab4
							div.module-title 模块四标题
							div.input-block
								input(type="text")
							div.module-content-title 请输入模块四内容
							div.module-content
								img(src="../images/question/jn-chuti-zidingyi-03.jpg")
		div.shijianxingtai#shijuanxingtai
			div.open-header
				div.title  自定义模块删除
				a(href="#").close
			div.open-content
				div.col-content.clearfix
					div.col-title 您确定删除<span class="mokuai-name">"自定义模块一"</span>么

			div.open-button
				div.open-button
					div.open-container.clearfix
						a(href="#").cancel 取 消
						a(href="#").save 保 存




		script(src="../js/jquery-1.8.2.min.js")
		script(src="../js/jquery-tab.js")
		script(src="../js/pride.js")

