doctype
html
	head
		meta(charset="utf-8")
		title 试卷预览
		link(href="../css/CSS-reset.css" type="text/css" rel="styleSheet")
		link(href="../css/question/jn-question.css" type="text/css" rel="styleSheet")

	body.jn
		.scan-container
			.top-button-line
				.top-button-block.clearfix
					a.scan-button.whole-paper 整体试卷预览
					a.scan-button.write-paper 答题环境预览
			.paper-scan-container
				.paper-scan-header.clearfix
					.type-info-block.clearfix
						.type-name 学习:
						.type-line
					.type-info-block.clearfix
						.type-name 姓名:
						.type-line
					.type-info-block.clearfix
						.type-name 准考证号:
						.type-line
					.jiandao-icon
				.paper-scan-body
					.secret-line 绝密·启用前
					.exam-title 中国知网知识百科竞赛<span class="subtitle">（预览）</span>
					.exam-subtitle 试题范围：百科知识竞赛 考试时间：120分钟
					table.exam-value
						tr
							td 题号
							td 一
							td 二
							td 三
							td 四
							td 五
							td 总分
						tr
							td 得分
							td
							td
							td
							td
							td
							td
					div.question-review
						div.group-question
							// 每道题一个review
							div.group-question-title 一. <span class="core-title">文学知识拓展训练</span>(2分)

							div.question-item-review
								div.tigan <span class="tihao">01.</span> 当我们浪费粮食时，老爷爷经常用唐代李绅的诗句来教育我们：（ 单选<span class="grey-value"> 2分 </span>）

								ul.question-list
									li.clearfix
										.input-block
											input(type="radio" id="danxuan1" name="danxuan")
										label(for="danxuan1") A.春种一粒粟，秋收万颗子
									li.clearfix
										.input-block
											input(type="radio" id="danxuan2" name="danxuan")
										label(for="danxuan2") B.锄禾日当午，汗滴禾下土
									li.clearfix
										.input-block
											input(type="radio" id="danxuan3" name="danxuan")
										label(for="danxuan3") C.四海无闲田，农夫犹饿死
									li.clearfix
										.input-block
											input(type="radio" id="danxuan4" name="danxuan")
										label(for="danxuan4") D.谁知盘中餐，粒粒皆辛苦
							div.question-item-review
								div.tigan <span class="tihao">02.</span> 当我们浪费粮食时，老爷爷经常用唐代李绅的诗句来教育我们：（ 多选<span class="grey-value"> 2分 </span>）
								ul.question-list
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-2-A" name="danxuan-2")
										label(for="danxuan-2-A") A.春种一粒粟，秋收万颗子
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-2-B" name="danxuan-2")
										label(for="danxuan-2-B") B.锄禾日当午，汗滴禾下土
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-2-C" name="danxuan-2")
										label(for="danxuan-2-C") C.四海无闲田，农夫犹饿死
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-2-D" name="danxuan-2")
										label(for="danxuan-2-D") D.谁知盘中餐，粒粒皆辛苦
							div.question-item-review
								div.tigan <span class="tihao">03.</span> 小荷才露尖尖角，早有蜻蜓立上头。《________》 ______绝句  _______（朝代） _______（作者）的代表作。 （ 填空<span class="grey-value"> 2分 </span>）
								ul.question-list
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-3-A" name="danxuan-3")
										label(for="danxuan-3-A") A.春种一粒粟，秋收万颗子
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-3-B" name="danxuan-3")
										label(for="danxuan-3-B") B.锄禾日当午，汗滴禾下土
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-3-C" name="danxuan-3")
										label(for="danxuan-3-C") C.四海无闲田，农夫犹饿死
									li.clearfix
										.input-block
											input(type="radio" id="danxuan-3-D" name="danxuan-3")
										label(for="danxuan-3-D") D.谁知盘中餐，粒粒皆辛苦
							div.question-item-review
								div.tigan <span class="tihao">04.</span> 墙角数枝梅，凌寒独自开。诗中的梅与兰 竹 菊被誉为花中四君子： （ 判断<span class="grey-value"> 2分 </span>）
								ul.question-list
									li.clearfix
										.input-block
											input(type="radio" id="panduan-4-A" name="panduan-4")
										label(for="panduan-4-A") A.正确
									li.clearfix
										.input-block
											input(type="radio" id="panduan-4-B" name="panduan-4")
										label(for="panduan-4-B") B.错误

							div.question-item-review
								div.tigan <span class="tihao">05.</span> 墙角数枝梅，凌寒独自开。诗中的梅与兰竹菊被誉为花中四君子： （ 简答<span class="grey-value"> 暂不记录分数 </span>）
								div.jianda-answer “映”字让“碧草”化静为动，动静皆宜生机盎然。<br/>“隔”字一来写出了黄鹂鸟的位置，又使全是生动活泼，有背景映衬而不显得单调空洞。


							div.question-item-review
								div.tigan <span class="tihao">06.</span> 汽车的“燃油效率”是指汽车每消耗1升汽油行驶的里程，下图两图描述了甲、乙、丙三辆汽车在不同速度下的燃油效率情况下列叙述中正确的是:（ 多选<span class="grey-value"> 2分 </span>）
								ul.question-list
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-5-A" name="duoxuan-5")
										label(for="duoxuan-5-A") A.春种一粒粟，秋收万颗子
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-5-B" name="duoxuan-5")
										label(for="duoxuan-5-B") B.锄禾日当午，汗滴禾下土
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-5-C" name="duoxuan-5")
										label(for="duoxuan-5-C") C.四海无闲田，农夫犹饿死
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-5-D" name="duoxuan-5")
										label(for="duoxuan-5-D") D.谁知盘中餐，粒粒皆辛苦

							div.question-item-review
								div.tigan <span class="tihao">07.</span> 汽车的“燃油效率”是指汽车每消耗1升汽油行驶的里程，下图两图描述了甲、乙、丙三辆汽 车在不同速度下的燃油效率情况下列叙述中正确的是: （ 多选<span class="grey-value"> 2分 </span>）
								ul.img-list.clearfix
									li.standard.clearfix
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search
									li.standard.clearfix
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search
								ul.question-list
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-6-A" name="duoxuan-6")
										label(for="duoxuan-6-A") A.消耗1升汽油，乙车最多可行驶5千米
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-6-B" name="duoxuan-6")
										label(for="duoxuan-6-B") B.以相同速度行驶相同路程，三辆车中，甲车消耗汽油最多
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-6-C" name="duoxuan-6")
										label(for="duoxuan-6-C") C.甲车以80千米/小时的速度行驶1小时，消耗10升汽油
									li.clearfix
										.input-block
											input(type="radio" id="duoxuan-6-D" name="duoxuan-6")
										label(for="duoxuan-6-D") D.某城市机动车最高限速80千米/小时. 相同条件下，在该市用丙车比用乙车更省油


							div.question-item-review

								div.tigan <span class="tihao">08.</span> 汽车的“燃油效率”是指汽车每消耗1升汽油行驶的里程，下图两图描述了甲、乙、丙三辆汽 车在不同速度下的燃油效率情况下列叙述中正确的是: （ 多选<span class="grey-value"> 2分 </span>）
								ul.img-list.clearfix
									li.standard.clearfix
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search
										div.radio
											input(type="radio" name="duoxuan-7" id="duoxuan-7-A")
											label(for="duoxuan-7-A") A
									li.standard.clearfix
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search
										div.radio
											input(type="radio" name="duoxuan-7" id="duoxuan-7-B")
											label(for="duoxuan-7-B") B
									li.standard.clearfix
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search
										div.radio
											input(type="radio" name="duoxuan-7" id="duoxuan-7-C")
											label(for="duoxuan-7-C") C
									li.standard.clearfix
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search
										div.radio
											input(type="radio" name="duoxuan-7" id="duoxuan-7-D")
											label(for="duoxuan-7-D") D


							div.question-item-review

								div.tigan <span class="tihao">09.</span> 汽车的“燃油效率”是指汽车每消耗1升汽油行驶的里程，下图两图描述了甲、乙、丙三辆汽 车在不同速度下的燃油效率情况下列叙述中正确的是: （ 多选<span class="grey-value"> 2分 </span>）
								ul.img-list.clearfix
									li.vertical.clearfix
										div.radio
											div.input-block
												input(type="radio" name="duoxuan-8" id="duoxuan-8-A")
											label(for="duoxuan-8-A") A
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search


									li.vertical.clearfix
										div.radio
											div.input-block
												input(type="radio" name="duoxuan-8" id="duoxuan-8-B")
											label(for="duoxuan-8-B") B
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search

									li.vertical.clearfix
										div.radio
											div.input-block
												input(type="radio" name="duoxuan-8" id="duoxuan-8-C")
											label(for="duoxuan-8-C") C
										div.img-block
											img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
											a(href="#").search
								ul.question-list
									li.clearfix
										.input-block
											input(type="radio" name="duoxuan-8" id="duoxuan-8-D")
										label(for="duoxuan-8-D") D.以上皆错误


				.paper-scan-footer.clearfix
					ul.clearfix
						li
							a(href="#").selected 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#") …
						li
							a(href="#") 下一页
						li
							a(href="#") 尾页



		script(src="../js/jquery-1.8.2.min.js")