

doctype
html
	head
		meta(charset="utf-8")
		title 机构中心-竞赛-批阅
		link(href="../css/CSS-reset.css" type="text/css" rel="styleSheet")

		link(href="../css/question/jn-question.css" type="text/css" rel="styleSheet")
		link(href="../css/question/jigou.css" type="text/css" rel="styleSheet")

	body
		div.jn-container-jigou
			div.inner
				div.top-header 批阅试卷
				div.top-header-line
					div.top-header-line-content
						div.block.selected 未批阅
						div.block 已批阅
						div.time 更新日期：2016-12-12 5:00
				div.container-outer
					div.sidebar
						div.paper-header
							span 全部未批阅试卷
							span.all-number 72

						ul.paper-name
							li
								a(href="#") 2015年安全知识大赛(98)

								ul.single-paper
									li.selected
										span.paper-id 第24题
										span.number 12
										span 未批
									li
										span.paper-id 第30题
										span.number 60
										span 未批
									li
										span.paper-id 第30题
										span.number 60
										span 未批
									li
										span.paper-id 第30题
										span.number 60
										span 未批
							li
								a(href="#") 创新与传承字体设计大赛(66)
							li
								a(href="#") 创新之星设计大赛(51)
							li
								a(href="#") 试卷的名称(18)

						div.dati-info
							input-block
								input(type="checkbox" id="dati")
							label(for="dati") 显示答题者信息
					div.main-content
						div.question-block
							p.question <span class="question-number">24</span> <span class="content">如示例所说请简述公民、法人或其他组织对行政机关的具体行政行为不服，可以先向上一级行政机关或者法律法规规定的行政机关申请复议，对复议不服的，再向人民法院提起诉讼，也可以直接向人民法院提起诉讼。法律法规规定应当先向行政机关申请复议，对复议不服再向人民法院起的，应按照法律法规规定。行政诉讼和行政复议的区别 ：</span>（<span class="value">15分</span>）
							div.close 收 起
						div.answer-block
							div.answer-place
								p 公民、法人或其他组织对行政机关的具体行政行为不服，可以先向上一级行政机关或者法律法规规定的行政机关申请复议，对复议不服的，再向人民法院提起诉讼，也可以直接向人民法院提起诉讼。法律法规规定应当先向行政机关申请复议，对复议不服再向人民法院起诉的，应按照法律法规规定。行政诉讼和行政复议是两个并行的法律救济制度。对公民、法人和其他组织而言，行政诉讼和行政复议都有对其合法权益保护的救济功能。
								p 但两者有着区别，行政复议是行政机关内部的监督制度，是在行政诉讼之前进行的。而行政诉讼是司法救济，由人民法院作出诉讼裁决，是最终的解决办法，也被称作“司法最终救济”原则。两者比较而言，第一，在效力上看，行政诉讼优于行政复议。行政复议机关根据行政复议申请人的申请对具体行政行为进行审查，行使的只是行政复议权，而不能替代司法机关对行政争议行使高效力的司法裁决； 第二，依赖行政复议机关处理行政争议，存在其自身难以完全克服的不足。
							div.info-line
								span.datiren 答题人：
								span.dati-name 陈石头
								span.dati-time 2016-12-29 6:21
								span.pingfen 评分：
								input(type="text" class="type-pingfen")
								a(href="#" class="submit-value") 提交分数


						div.answer-block
							div.answer-place
								p 公民、法人或其他组织对行政机关的具体行政行为不服，可以先向上一级行政机关或者法律法规规定的行政机关申请复议，对复议不服的，再向人民法院提起诉讼，也可以直接向人民法院提起诉讼。法律法规规定应当先向行政机关申请复议，对复议不服再向人民法院起诉的，应按照法律法规规定。行政诉讼和行政复议是两个并行的法律救济制度。对公民、法人和其他组织而言，行政诉讼和行政复议都有对其合法权益保护的救济功能。
								p 但两者有着区别，行政复议是行政机关内部的监督制度，是在行政诉讼之前进行的。而行政诉讼是司法救济，由人民法院作出诉讼裁决，是最终的解决办法，也被称作“司法最终救济”原则。两者比较而言，第一，在效力上看，行政诉讼优于行政复议。行政复议机关根据行政复议申请人的申请对具体行政行为进行审查，行使的只是行政复议权，而不能替代司法机关对行政争议行使高效力的司法裁决； 第二，依赖行政复议机关处理行政争议，存在其自身难以完全克服的不足。
							div.info-line.selected
								span.datiren 答题人：
								span.dati-name 陈石头
								span.dati-time 2016-12-29 6:21
								span.pingfen 评分：
								input(type="text" class="type-pingfen")
								a(href="#" class="submit-value") 提交分数
						div.answer-block
							div.answer-place
								p 公民、法人或其他组织对行政机关的具体行政行为不服，可以先向上一级行政机关或者法律法规规定的行政机关申请复议，对复议不服的，再向人民法院提起诉讼，也可以直接向人民法院提起诉讼。法律法规规定应当先向行政机关申请复议，对复议不服再向人民法院起诉的，应按照法律法规规定。行政诉讼和行政复议是两个并行的法律救济制度。对公民、法人和其他组织而言，行政诉讼和行政复议都有对其合法权益保护的救济功能。
								p 但两者有着区别，行政复议是行政机关内部的监督制度，是在行政诉讼之前进行的。而行政诉讼是司法救济，由人民法院作出诉讼裁决，是最终的解决办法，也被称作“司法最终救济”原则。两者比较而言，第一，在效力上看，行政诉讼优于行政复议。行政复议机关根据行政复议申请人的申请对具体行政行为进行审查，行使的只是行政复议权，而不能替代司法机关对行政争议行使高效力的司法裁决； 第二，依赖行政复议机关处理行政争议，存在其自身难以完全克服的不足。
							div.info-line.selected
								span.datiren 答题人：
								span.dati-name ***
								span.dati-time 2016-12-29 6:21
								span.pingfen 评分：
								span.type-pingfen 12
								a(href="#" class="change-value")#change-value-button 修改分数
						div.paper-change
							ul
								li
									a(href="#").selected 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									a(href="#") 4
								li
									a(href="#") 5
								li
									a(href="#") …
								li
									a(href="#") 下一页
								li
									a(href="#") 尾页

		div.black-background#black-background
			div.dafen-alert
				div.info 打分成功！评分为<span class="value">7</span>分
		div.black-background
			div.pingfen-alert
				div.title-line
					div.title-name 评分修改
					a(href="#").close
		div.jn
			div.tanchuang
				div.col-manage-static2#pingfenxiugai
					div.open-header.clearfix
						div.title    评分修改
						a(href="#").close
					div.open-content
						div.paper-name 试卷：北京市大数据统计竞赛
						table
							tr
								td 题号
								td 答题人
								td 目前评分
							tr
								td 25
								td 杜皮影
								td 12分
						div.change-value-line.clearfix
							div.change-value 更改评分
							input(type="text")#value-number




					div.open-button
						div.open-container.clearfix
							a(href="#").cancel 取 消
							a(href="#").save 保 存






		script(src="../js/jquery-1.8.2.min.js")
		script(src="../js/piyue.js")