doctype
html
	head
		meta(charset="utf-8")
		title 试卷预览
		link(href="../css/CSS-reset.css" type="text/css" rel="styleSheet")
		link(href="../css/question/jn-question.css" type="text/css" rel="styleSheet")

	body.jn
		include 菜单
		.search-container-outer
			.search-container.clearfix
				.search-page-left
					.search-page-top-nav
						ul.nav-bar.clearfix
							li
								a(href="#") 全部结果
							li
								a(href="#") 竞赛
							li
								a(href="#") 试卷
							li
								a(href="#").selected  单题
							li
								a(href="#") 机构/个人
						.search-number.clearfix
							ul.jingsai-fenlei.clearfix
								li
									a(href="#").selected 全部
								li
									a(href="#") 单选
								li
									a(href="#") 多选
								li
									a(href="#") 填空
								li
									a(href="#") 判断
								li
									a(href="#") 简答
							.search-number-home 找到相关单题<span class="strong">425</span>个

							select.paixu
								option(value="default") 默认排序
								option(value="new") 最新
								option(value="hot") 最热

					.search-page-section
						.search-page-section-body
							.search-question-tab <span class="question-tab">成语</span> <span class="question-tab">成语</span> <span class="question-tab">成语</span>
							div.question-review
								div.question-item-review
									div.tigan <span class="tixing">【单选题】</span> 当我们浪费粮食时，老爷爷经常用唐代李绅的诗句来教育我们：
									ul.question-list
										li.clearfix
											.xuanxiang <span class="tihao">A.</span>春种一粒粟，秋收万颗子
										li.clearfix
											.xuanxiang <span class="tihao">B.</span>锄禾日当午，汗滴禾下土
										li.clearfix
											.xuanxiang <span class="tihao">C.</span>四海无闲田，农夫犹饿死
										li.clearfix
											.xuanxiang <span class="tihao">D.</span>谁知盘中餐，粒粒皆辛苦
						.search-page-section-quesiton.clearfix
							.search-page-section-quesiton-left <img src="../images/search/jn-search_59.jpg" /><span class="yida">150人已答</span><span class="name">韩梅梅-个人</span><span class="date">2016-5-31</span>
							.search-page-section-quesiton-right <a href="#" class="test"><img src="../images/search/jn-search_54.jpg" /></a><a href="#"><img src="../images/search/jn-search_56.jpg" /></a>

					.search-page-section
						.search-page-section-body
							.search-question-tab <span class="question-tab">成语</span> <span class="question-tab">成语</span> <span class="question-tab">成语</span>
							div.question-review
								div.question-item-review
									div.tigan <span class="tixing">【多选题】</span> 汽车的“燃油效率”是指汽车每消耗1升汽油行驶的里程，下图两图描述了甲、乙、丙三辆汽 车在不同速度下的燃油效率情况下列叙述中正确的是:
									ul.img-list.clearfix
										li.standard.clearfix
											div.img-block
												img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
												a(href="#").search
									ul.question-list
										li.clearfix
											.xuanxiang <span class="tihao">A.</span>消耗1升汽油，乙车最多可行驶5千米
										li.clearfix
											.xuanxiang <span class="tihao">B.</span>以相同速度行驶相同路程，三辆车中，甲车消耗汽油最多
										li.clearfix
											.xuanxiang <span class="tihao">C.</span>甲车以80千米/小时的速度行驶1小时，消耗10升汽油
										li.clearfix
											.xuanxiang <span class="tihao">D.</span>某城市机动车最高限速80千米/小时. 相同条件下，在该市用丙车比用乙车更省油
						.search-page-section-quesiton.clearfix
							.search-page-section-quesiton-left <img src="../images/search/jn-search_59.jpg" /><span class="yida">150人已答</span><span class="name">韩梅梅-个人</span><span class="date">2016-5-31</span>
							.search-page-section-quesiton-right <a href="#" class="test"><img src="../images/search/jn-search_54.jpg" /></a><a href="#"><img src="../images/search/jn-search_56.jpg" /></a>

					.search-page-section
						.search-page-section-body
							.search-question-tab <span class="question-tab">成语</span> <span class="question-tab">成语</span> <span class="question-tab">成语</span>
							div.question-review
								div.question-item-review

									div.tigan <span class="tixing">【多选题】</span> 汽车的“燃油效率”是指汽车每消耗1升汽油行驶的里程，下图两图描述了甲、乙、丙三辆汽 车在不同速度下的燃油效率情况下列叙述中正确的是:
									ul.img-list.clearfix
										li.standard.clearfix
											div.img-block
												img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
												a(href="#").search
											div.radio
												.xuanxiang <span class="tihao">A</span>
										li.standard.clearfix
											div.img-block
												img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
												a(href="#").search
											div.radio
												.xuanxiang <span class="tihao">B</span>
										li.standard.clearfix
											div.img-block
												img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
												a(href="#").search
											div.radio
												.xuanxiang <span class="tihao">C</span>
										li.standard.clearfix
											div.img-block
												img(src="../imagestemp/organization-jn/jn-chuti_03.jpg")
												a(href="#").search
											div.radio
												.xuanxiang <span class="tihao">D</span>
						.search-page-section-quesiton.clearfix
							.search-page-section-quesiton-left <img src="../images/search/jn-search_59.jpg" /><span class="yida">150人已答</span><span class="name">韩梅梅-个人</span><span class="date">2016-5-31</span>
							.search-page-section-quesiton-right <a href="#" class="test"><img src="../images/search/jn-search_54.jpg" /></a><a href="#"><img src="../images/search/jn-search_56.jpg" /></a>
					.search-page-section
						.search-page-section-body
							.search-question-tab <span class="question-tab">成语</span> <span class="question-tab">成语</span> <span class="question-tab">成语</span>
							div.question-review
								div.question-item-review
									div.tigan.jianda <span class="tixing">【简答题】</span> 汽车的“燃油效率”是指汽车每消耗1升汽油行驶的里程，下图描述了甲、乙、丙三辆汽 车在不同速度下的燃油效率情况
										| 一条小河流过A、B、C三镇．A、B两镇之间有汽船来往，汽船在静水的速度为每小时11千米．B、C两镇之间有木船摆渡，木船在静水中
										| 的速度为每小时3.5千米．已知A、C两镇水路相距50千米，水流速度为每小时1.5千米．某人从A镇上乘汽船顺流而下到B镇，一船以同
										| 样速度往返于两地之间，它顺流需要6小时；逆流8小时．如果水流速度是每小时2千米，求两地间的距离？吃午饭用去1小时，接着乘
										| 木船又顺流而下到C镇，共用8小时，一船以同样速度求两地间的距离？那么A、B两镇的水路路程是多少米．下列叙述中中正确的...
						.search-page-section-quesiton.clearfix
							.search-page-section-quesiton-left <img src="../images/search/jn-search_59.jpg" /><span class="yida">150人已答</span><span class="name">韩梅梅-个人</span><span class="date">2016-5-31</span>
							.search-page-section-quesiton-right <a href="#" class="test"><img src="../images/search/jn-search_54.jpg" /></a><a href="#"><img src="../images/search/jn-search_56.jpg" /></a>

					.search-page-section
						.search-page-section-body
							.search-question-tab <span class="question-tab">成语</span> <span class="question-tab">成语</span> <span class="question-tab">成语</span>
							div.question-review
								div.question-item-review
									div.tigan <span class="tixing">【填空题】</span> 小荷才露尖尖角，早有蜻蜓立上头。《________》 ______绝句  _______（朝代） _______（作者）的代表作。
						.search-page-section-quesiton.clearfix
							.search-page-section-quesiton-left <img src="../images/search/jn-search_59.jpg" /><span class="yida">150人已答</span><span class="name">韩梅梅-个人</span><span class="date">2016-5-31</span>
							.search-page-section-quesiton-right <a href="#" class="test"><img src="../images/search/jn-search_54.jpg" /></a><a href="#"><img src="../images/search/jn-search_56.jpg" /></a>
					.clearfix <div id="pagination" class="pagination"><a href="#">首页</a><a href="#">上一页</a><a href="#">1</a><span class="current">2</span><a href="#">3</a><a href="#">下一页</a><a href="#">尾页</a></div>





				.search-page-right
					.search-section-right-block
						.search-section-right-title
							.title-name 知网书
						.search-section-right-body
							ul.book.clearfix
								li
									img(src="../images/search/jn-search_49.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_49.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_49.jpg")
									a(href="#") 唐诗宋词
						.search-page-more 更多+

					.search-section-right-block
						.search-section-right-title
							.title-name 相关工具书
						.search-section-right-body
							ul.magazine.clearfix
								li
									img(src="../images/search/jn-search_07.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_07.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_07.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_09.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_09.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_09.jpg")
									a(href="#") 唐诗宋词
						.search-page-more 更多+

					.search-section-right-block
						.search-section-right-title
							.title-name 相关期刊
						.search-section-right-body
							ul.magazine.clearfix
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
						.search-page-more 更多+

