doctype
html
	head
		meta(charset="utf-8")
		title 试卷预览
		link(href="../css/CSS-reset.css" type="text/css" rel="styleSheet")
		link(href="../css/question/jn-question.css" type="text/css" rel="styleSheet")

	body.jn
		include 菜单
		.search-container-outer
			.search-container.clearfix
				.search-page-left
					.search-page-top-nav
						ul.nav-bar.clearfix
							li
								a(href="#") 全部结果
							li
								a(href="#") 竞赛
							li
								a(href="#") 试卷
							li
								a(href="#")  单题
							li
								a(href="#").selected 机构/个人
						.search-number.clearfix
							ul.jingsai-fenlei.clearfix
								li
									a(href="#").selected 全部
								li
									a(href="#") 机构
								li
									a(href="#") 个人
							.search-number-home 找到<span class="strong">412</span>个相关结果


					.search-page-section
						.search-page-section-body
							.search-page-jigouzu
								ul.yonghuzu
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line.clearfix
												.name  个人<span class="strong">数学</span>研究员
												a.follow 关注
											.fensi 粉丝 <span class="fensi-number">558</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line.clearfix
												.name   个人<span class="strong">数学</span>研究员
												a.yiguanzhu 已关注
											.fensi 粉丝 <span class="fensi-number">558</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line
												.name    高三<span class="strong">数学</span>研究员
												img(src="../images/search/jn-search_22.jpg")
											.fensi 粉丝 <span class="fensi-number">558</span> 竞赛 <span class="fensi-number">558</span> 出卷 <span class="fensi-number">58</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line.clearfix
												.name  个人<span class="strong">数学</span>研究员
												a.follow 关注
											.fensi 粉丝 <span class="fensi-number">558</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line.clearfix
												.name   个人<span class="strong">数学</span>研究员
												a.yiguanzhu 已关注
											.fensi 粉丝 <span class="fensi-number">558</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line
												.name    高三<span class="strong">数学</span>研究员
												img(src="../images/search/jn-search_22.jpg")
											.fensi 粉丝 <span class="fensi-number">558</span> 竞赛 <span class="fensi-number">558</span> 出卷 <span class="fensi-number">58</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line.clearfix
												.name  个人<span class="strong">数学</span>研究员
												a.follow 关注
											.fensi 粉丝 <span class="fensi-number">558</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line.clearfix
												.name   个人<span class="strong">数学</span>研究员
												a.yiguanzhu 已关注
											.fensi 粉丝 <span class="fensi-number">558</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line
												.name    高三<span class="strong">数学</span>研究员
												img(src="../images/search/jn-search_22.jpg")
											.fensi 粉丝 <span class="fensi-number">558</span> 竞赛 <span class="fensi-number">558</span> 出卷 <span class="fensi-number">58</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
									li.clearfix
										img(src="../images/search/jn-search_60.jpg" class="touxiang")
										.yonghuzu-right
											.name-line
												.name    高三<span class="strong">数学</span>研究员
												img(src="../images/search/jn-search_22.jpg")
											.fensi 粉丝 <span class="fensi-number">558</span> 竞赛 <span class="fensi-number">558</span> 出卷 <span class="fensi-number">58</span>
											.jianjie 简介：高中<span class="strong">数学</span>教育，高中
						.jigou-footer.clearfix
							.search-number-home 找到<span class="strong">412</span>个相关结果
							.clearfix <div id="pagination" class="pagination"><a href="#">首页</a><a href="#">上一页</a><a href="#">1</a><span class="current">2</span><a href="#">3</a><a href="#">下一页</a><a href="#">尾页</a></div>





				.search-page-right
					.search-section-right-block
						.search-section-right-title
							.title-name 知网书
						.search-section-right-body
							ul.book.clearfix
								li
									img(src="../images/search/jn-search_49.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_49.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_49.jpg")
									a(href="#") 唐诗宋词
						.search-page-more 更多+

					.search-section-right-block
						.search-section-right-title
							.title-name 相关工具书
						.search-section-right-body
							ul.magazine.clearfix
								li
									img(src="../images/search/jn-search_07.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_07.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_07.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_09.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_09.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/search/jn-search_09.jpg")
									a(href="#") 唐诗宋词
						.search-page-more 更多+

					.search-section-right-block
						.search-section-right-title
							.title-name 相关期刊
						.search-section-right-body
							ul.magazine.clearfix
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
								li
									img(src="../images/zuoti/jn-yaolan_52.jpg")
									a(href="#") 唐诗宋词
						.search-page-more 更多+

