.clearfix:after
  clear both

.clearfix:before,.clearfix:after
  content ""
  display table

.clearfix
  zoom 1
.clearfix
  clear none
body
  background-color #e5e6e9
.jn-container-jigou
  font-family "宋体"
  background-color #e5e6e9
  padding-top 36px
  .inner
    margin 0 auto
    width 1198px
    padding-top 28px
    background-color white
    .top-header
      font-family "微软雅黑"
      color #222222
      margin-left 104px
      line-height 21px
      height 21px
      font-size 20px
    .top-header-line
      margin-top 27px
      border-bottom 1px solid #e7e7eb
      font-size 14px
      .top-header-line-content
        width 990px
        margin 0 auto
        .block
          display inline-block
          \*display inline
          zoom 1
          width 78px
          height 15px
          padding-bottom 10px
          text-align center
          color #222222
          border-bottom 3px solid white
        .selected
          font-weight bold
          border-bottom 3px solid #279ce4
        .time
          display inline-block
          \*display inline
          zoom 1
          margin-left 610px
          padding-bottom 10px
    .container-outer
      width 990px
      margin 30px auto 0 auto
      padding-bottom 50px
      .sidebar
        display inline-block
        \*display inline
        zoom 1
        width 250px
        border 1px solid #e7e7ea

        .paper-header
          font-size 14px
          font-weight bold
          padding-top 15px
          padding-bottom 12px
          background-color #f3f6f8
          padding-left 13px
          .all-number
            color #ff6c00
            margin-left 104px
            font-family "宋体"
        ul.paper-name
          list-style none
          padding 0
          margin 0
          li
            a
              display block
              height 38px
              line-height 38px
              border-top 1px solid #e9e9ec
              text-decoration none
              color #606060
              padding-left 9px



            ul.single-paper
              list-style none
              padding 0
              margin 0
              background-color #f3f6f8
              padding 10px 12px 10px 12px

              li
                height 36px
                line-height 36px
                margin-bottom 3px
                background-color white
                padding-left 10px

                span.number
                  margin-left 100px
                  margin-right 5px
                  color #fe6d01
                  font-weight bold
              li.selected
                background-color #279ce4
                color white
                span.number
                  color white
          li:last-child
            a
              border-bottom 1px solid #e9e9ec
        .dati-info
          margin-top 55px
          margin-left 111px
          padding-bottom 25px

          label
            color #494949
      .main-content
        display inline-block
        \*display inline
        zoom 1
        margin-left 9px
        vertical-align top
        width 720px


        div.question-block
          background-color #f3f7fd
          border-top 3px solid #279ce4
          padding 21px 34px 5px 34px
          margin-bottom 10px

          p
            margin 0
            padding 0
            line-height 1.8em
          span.question-number
            background-color #279be4
            color white
            display inline-block
            \*display inline
            zoom 1
            padding 1.5px 7.5px
            border-radius 5px
          span.value
            color #fe6d01
            font-weight bold
          div.close
            font-size 12px
            color #6b6b6b
            width 50px
            margin 6px auto 6px auto
            background url(../../images/organization-jn/jn-review-4.png) no-repeat right center
          a.xiangqing
            color #189ee4
            text-decoration none

        div.answer-block
          border 1px solid #d9e6f9
          padding 24px 0 0 0
          background url(../../images/organization-jn/jn-review-1.png) no-repeat left 24px
          margin-bottom 10px

          .answer-place
            p
              padding 0 34px 0 34px

              margin 0
              color #696b6b
              text-indent 28px
              line-height 1.8em
              margin-bottom 18px
          .info-line
            height 50px
            line-height 50px
            border-top #dadada 1px dotted
            background-color #f6f6f6

            span.datiren
              margin-left 33px
            span.dati-name
              font-weight bold
            span.dati-time
              margin-left 50px
            span.pingfen
              margin-left 177px
            .type-pingfen
              width 50px
              height 38px
              line-height 38px
              font-size 30px
              text-align center
              padding-right 20px
              color #ff6c00
              border 0
              background url(../../images/organization-jn/jn-piyue-pen2.png) no-repeat right bottom
            span.type-pingfen
              padding 0 35px 0px 25px
            .submit-value
              height 26px
              line-height 26px
              width 74px
              display inline-block
              \*display inline
              zoom 1
              color #232323
              background-color #e6e7ec
              text-align center
              text-decoration none
              vertical-align middle
              font-size 14px
              margin-left 10px
            .change-value
              height 26px
              line-height 26px
              width 74px
              display inline-block
              \*display inline
              zoom 1
              color #232323
              background-color white
              text-align center
              text-decoration none
              vertical-align middle
              font-size 14px
              margin-left 10px
              border 1px solid #12c65b
              color #12c65b
          .selected
            background-color #f3f7fd
            .type-pingfen
              background url(../../images/organization-jn/jn-piyue-pen.png) no-repeat right bottom
            .submit-value
              background-color #12c65b
              border 1px solid #dadbdf
              color white
        .paper-change
          ul
            margin 0
            padding 0
            margin-top 30px
            list-style-type none
            float right
            li
              float left
              a
                display block
                _display inline-block
                _zoom 1
                text-decoration none
                color #6a6a6a
                border 1px solid #c6c6c6
                height 40px
                line-height 40px
                padding 0 12px 0 12px
                margin-left 5px
              a.selected
                color white
                background-color #70ca10





.black-background
  position fixed
  top 0
  left 0
  height 100%
  width 100%
  background-color rgba(127,127,127,0.5)
  display none
  .dafen-alert
    width 258px
    height 164px

    border-radius 5px
    border-top 5px solid #5ba5cc
    margin 0 auto
    margin-top 250px
    background url(../../images/organization-jn/jn_icon_smail.png) no-repeat center 28px
    background-color #ffffff

    .info
      margin-top 114px
      color #666666
      text-align center
      font-weight bold
      .value
        color #fe3602


.tanchuang .col-manage-static2
  div.paper-name
    font-size 16px
    color #2a3e46
    margin-left 50px
    font-weight bold
  .open-content
    table
      margin-left 100px
      margin-top 20px
      text-align center
      background-color #f1fafd
      color #2a3e46
      font-weight bold
      tr
        height 38px
        line-height 38px
        td
          border 1px solid #6b92cd
          width 120px
    .change-value-line
      margin-top 50px
      margin-left 160px

      .change-value
        float left
        color #666666
        font-weight bold
        padding-top 10px
      input
        font-size 30px
        color #ff6c00
        height 36px
        line-height 36px
        border 0px
        outline none
        font-weight bold
        text-align center
        width 150px
        background url(../../images/question/jn-examedit-change-value.jpg) right bottom no-repeat






